<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.example.lz_4000tbluetooth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bluetoothle.activity.SearchDeviceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bluetoothle.activity.HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bluetoothle.activity.FunctionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bluetoothle.activity.SampleSearchActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bluetoothle.activity.MachineSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bluetoothle.activity.DetectionTimeSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.bluetoothle.activity.MachineTimeSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.bluetoothle.activity.EthernetSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.bluetoothle.activity.UdpSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.bluetoothle.activity.WifiSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bluetoothle.activity.SampleSettingActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.bluetoothle.service.BluetoothLeService" >
        </service>
    </application>

</manifest>